[Desktop Entry]
Categories=Utility;
Comment[en_US]=Rename files using a GUI desktop app for Linux & Windows
Comment=Rename files using a GUI desktop app for Linux & Windows
Exec=file-renamer
GenericName[en_US]=File Renamer
GenericName=File Renamer
Icon=io.github.mcarlos101.file-renamer
MimeType=
Name[en_US]=File Renamer
Name=File Renamer
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-FormFactor=desktop;tablet;handset;
X-KDE-SubstituteUID=false
X-KDE-Username=
