[build-system]
requires = [
    "hatchling",
    "versioningit",
]
build-backend = "hatchling.build"

[tool.hatch.version]
source = "versioningit"

[tool.versioningit.vcs]
method = "git"
match = ["v*"]  # Parameters to pass to the method:
default-tag = "1.0.0"

[tool.hatch.build.targets.wheel]
packages = ["file-renamer"]

[project]
name = "file-renamer"
dynamic = ["version"]
authors = [
  { name="Carlos", email="mcarlos@tuta.io" },
]
description = "Rename files using a GUI desktop app for Linux & Windows. MacOS not yet tested."
readme = "README.md"
requires-python = "==3.11"
dependencies = [
  "PySide6==6.6.2",
  "PySide6-Addons==6.6.2",
  "PySide6-Essentials==6.6.2",
  "shiboken6==6.6.2",
  "Unidecode==1.3.8",
]
keywords = ["rename", "file"]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
    "Operating System :: OS Independent",
]

[project.urls]
Homepage = "https://github.com/mcarlos101/file-renamer"
Repository = "https://github.com/mcarlos101/file-renamer.git"

