.error {
    color: red;
    font-weight: bold;
}

QLineEdit:focus {
    border: 1px solid red;
}

QPushButton {
    background-color: #0d6efd;
    color: white;
    border: 1px solid #0d6efd;
    outline: 0px;
    padding: 3px 3px;
}

QPushButton:hover,
QPushButton:focus {
    background-color: #0b5ed7;
    border: 1px solid #9ac3fe;
}

QComboBox {
    background-color: #0d6efd;
    color: white;
    border: 1px solid #0d6efd;
}

QTextEdit {
    color: black;
    font-weight: normal;
}
